@import "tailwindcss";
@plugin "daisyui" {
  themes: caramellatte --default;
}

@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3 {
    text-wrap: balance;
  }

  p,
  blockquote {
    text-wrap: pretty;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
